<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<title>TradingCoin</title>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../resources/css/index.css" />
	<link type="text/css" rel="stylesheet" href="../resources/css/style.css" />
</head>

<body>
	<div id="content">
		<div id="cryptos" class="cryptos"></div>
		<button id="selectBtn">보유 자산 수동 조회</button>
		<button id="classifyBtn">기능 테스트 버튼</button>
		<button id="waitBtn">미체결 테스트 버튼</button>
		<div id="container"></div>
		<div id="testContainer"></div>
		<div id="scriptContainer">
			<span class="log-toggle_button log_close">open/close</span>
		</div>
	</div>
</body>
<script type="text/javascript" src="../resources/plugins/jquery/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../resources/plugins/websocket/sockjs.min.js"></script>
<script type="text/javascript" src="../resources/plugins/require/require.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../resources/js/common.js"></script>
<script type="text/javascript" src="../resources/js/param.js"></script>
<script type="text/javascript" src="../resources/js/n_socket.js"></script>
<script type="text/javascript" src="../resources/js/u_socket.js"></script>
<script type="text/javascript" src="../resources/js/index.js"></script>
<script type="text/javascript" src="../resources/js/promise.js"></script>

</html>
