<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Pragma" content="no-cache" />
	<title>TradingCoin</title>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" rel="stylesheet" href="../resources/css/index.css" />
	<link type="text/css" rel="stylesheet" href="../resources/css/mobile.css" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
	<div id="moblie_wrap">
		<section>
			<h2 class="page-title">
				<a href="javascript:void(0)" id="refreshAssets"><i class="fas fa-sync-alt"></i></a>
				Wallet
				<a href="javascript:void(0)" id="settings"><i class="fas fa-cog"></i></a>
			</h2>

		</section>

		<section class="assets-info_total">
			<p>Total Assets (KRW)</p>
			<div id="totalAssetsMoney"></div>
			<div class="flex" style="justify-content: space-evenly;padding: 8px 0;">
				<div id="totalKRW"></div>
				<div id="totalAssets"></div>
			</div>
		</section>

		<section class="assets-crypto">
			<h4 class="section-title">Assets Crypto</h4>
			<p style="padding: 0 2%;">own coin</p>
			<div class="assets-crypto_lists"></div>
			<hr style="height: 2px;background-color: rgb(255 255 255 / 20%);width: 30%;margin: 30px auto;" />
			<p style="padding: 0 2%;">Not mine yet</p>
		</section>

		<div id="underBlock" style="height: 50px;"></div>

		<nav class="navigator">
			<div class="item">
				<a href="/m/wallet"><i class="fab fa-google-wallet"></i></a>
			</div>
			<div class="item">
				<a href="#"><i class="fas fa-exchange-alt"></i></a>
			</div>
			<div class="item">
				<a href="#"><i class="fas fa-chart-pie"></i></a>
			</div>
			<div class="item selected">
				<a href="#"><i class="fas fa-smile"></i></a>
			</div>
		</nav>
	</div>
	<div id="scriptContainer" style="display: none;">
		<span class="log-toggle_button log_close">open/close</span>
	</div>
	<!-- <div id="content">
		<div id="cryptos" class="cryptos"></div>
		<div id="scriptContainer">
			<span class="log-toggle_button log_close">open/close</span>
		</div>
	</div> -->
</body>
<script type="text/javascript" src="../resources/plugins/jquery/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../resources/plugins/websocket/sockjs.min.js"></script>
<script type="text/javascript" src="../resources/plugins/require/require.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../resources/js/common.js"></script>
<script type="text/javascript" src="../resources/js/param.js"></script>
<script type="text/javascript" src="../resources/js/n_socket.js"></script>
<script type="text/javascript" src="../resources/js/u_socket.js"></script>
<!-- <script type="text/javascript" src="../resources/js/index.js"></script> -->
<script type="text/javascript" src="../resources/js/promise.js"></script>
<script type="text/javascript" src="../resources/js/m_main.js"></script>

</html>